/*------------
    RESET
------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------s
    HEADER
------------*/
body {
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
}
ul {
    list-style: none;
    font-size: 15px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

#donne {
    padding-left: 0px;
}

i {
    padding-right:10px ;
}

.fa-bag-shopping {
    padding-right: 0px;
}

.fa-user {
    padding-right: 0px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ff6900;
    min-height: 70px;
    z-index: 20;
    margin-bottom: ;
}

.icons {
    color: white;
}

.container div {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
}

header > .container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    line-height: 70px;
    justify-content: space-between;
    mar
}

.contenitore {
    display: flex;
    justify-content: space-around;
}

/*------------s
    MAIN
------------*/

.row {
    margin-top: 110px;
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin-bottom: -50px;
}

.col-33 {
    position: relative;
    width: 390px;
    background-color: #e8e8e8;
    height: 615px;
}

main img {
    width: 100%;
}

.col-33 div, h5 {
    background-color: white;
}

.span-2 {
    text-decoration: line-through;
    margin-left: 5px;
}

.span-red {
    color: red;
}

/*------------s
    BANNER
------------*/

.banner {
    padding: 5px 10px;
    color: white;
    border: none;
}

.col-33 .banner-red {
    background-color: red;
    position: absolute;
    bottom: 100px;
    left: 0;
}

.col-33 .banner-sost {
    background-color: #008000;
    position: absolute;
    bottom: 100px;
    left: 60px;
}

#last {
    position: absolute;
    left: 0;
}

.cuore {
    position: absolute;
    right: 0;
    top: 10px;
}

.fa-heart {
    padding: 13px 10px;
}

.bottom-row {
    margin-bottom: 50px;
}

/*------------s
    HOVER
------------*/

.img-hover {
    display: none;
}

.col-33:hover .img-hover {
    display: block;
}

.col-33:hover .img-default {
    display: none;
}

/*------------s
    FOOTER
------------*/

footer {
    color: white;
    min-height: 110px;
    background-color: #1a1a1a;
}

.footer-div {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding-top: 35px;
}

#first {
    margin-left: -10px;
}

footer i {
    color: white;
    padding: 8px;
}

#ultimo {
    margin-left: 20px;
}

footer ul {
    font-size: 10px;
}

.symbol-list {
    margin-top: -5px;
}